@charset "utf-8";
/* 프로모션 */
.promotion .inner{
    /* 필요한 스타일을 여기에 추가하세요 */
}
.promotion .section-top{
    display: none;
}
.sw-promotion a{
    display: inline-block;
    border-radius: 13px;
    overflow: hidden; /* 여기에 추가된 부분 */
}
.sw-promotion a img{
    width: 100%;
    height: auto;
}